h1 {
  color: #002395;
}

body{
  background-image: url("/static/img/bg.jpg");
  font-size: 20px;
	font-family: comic;
	color: #333;
}

img{
  margin-right: 30px
}

img.s{
  position:absolute;
  left:450px;
  top:300px
}

nav ul {
  list-style-type: none;
  width:auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #003399;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #0000ff;
}



.left
{
  float: left;
}

.right
{
  float: right;
}

.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 30px;
}
#submit{
	font-family: comic;
	font-size: 20px;
	background-color: #003399;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #0000ff;
}
