{% extends 'base.html' %}


{% block content %}
<h2>Anaksymenes z Miletu</h2>
<h3>(585 – 525 p.n.e.)</h3>
<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Anaximenes.jpg/197px-Anaximenes.jpg" alt = "Anaksymenes z Miletu" align="left" width="320" height="380">

<h4>Notka biograficzna:</h4>
<p>Uczeń Anaksymandra. Jaki wielu innych filozofów greckich,
  napisał dzieło zawierające jego przemyślenia, z którego do dzisiaj
  zachowały się trzy fragmenty.</p>

<h4>Pogląd na naturę Arche:</h4>
<p>Powietrze</p>

<h4>Uzasadnienie:</h4>
<p>Jego pogląd miał podobne uzasadnienie jak stanowisko jego nauczyciela,
  z tą różnicą, że Anaksymenes widział ów bezkres jako nieskończone powietrze,
  które było dla niego pierwotną przyczyną powstania wszystkich rzeczy.</p>


<div class='left'><a href="{% url 'anaksymander' %}">Poprzedni filozof</a>  </div>
<div class='right'><a href="{% url 'heraklit' %}">Następny filozof</a>  </div>
{% endblock %}
