{% extends 'base.html' %}


{% block content %}
<h2>Demokryt z Abdery</h2>
<h3>(między 460-370 p.n.e.)</h3>
<img src = "https://upload.wikimedia.org/wikipedia/commons/b/b9/Democritus2.jpg" alt = "Demokryt z Abdery" align="left" width="320" height="420">

<h4>Notka biograficzna:</h4>
<p>Był myślicielem, podróżnikiem, naukowcem, twórcą wielu prac w dziedzinach fizyki, astronomii, medycyny,
  chemii, gramatyki, techniki, logiki, strategii, muzyki itd. Jego prace wywarły w późniejszym czasie wpływ
  na takich filozofów jak Platon, Arystoteles czy Epikur. Studiując filozofię w szkole Leucypa zwrócił uwagę
  na teorię atomu, co miało wpływ na jego opinię o Arche. Razem ze swoim nauczycielem był założycielem
  starożytnego atomizmu.</p>

<h4>Pogląd na naturę Arche:</h4>
<p>Atomy</p>

<h4>Uzasadnienie:</h4>
<p>Demokryt zgadzał się z Parmenidesem w kwestii niezmienności bytu, ale starał się pogodzić ją z doświadczeniem,
  które wskazywało na zmienność zjawisk. Pogodzenie tych dwóch stanowisk było możliwe dzięki postulatowi istnienia
  atomów – niezmiennych drobin, które poruszając się i zmieniając swoją organizację wytwarzały zmienne zjawiska.</p>

<p>Teoria bytu w tym systemie opierała się na czterech postulatach:</p>
<ul>
  <li>Cała przyroda składa się z drobnych, niepodzielnych cząstek nazywanych atomami
  <li>Jedyne cechy, jakie odróżniają jedne atomy od drugich, to kształt, położenie i porządek
  <li>Atomy znajdują się w ciągłym i odwiecznym ruchu i jest to jedyna przemiana, jakiej podlegają
  <li>Atomy poruszają się w próżni. Jej istnienie jest konieczne, by atomy miały miejsce do poruszania się – stąd
    twierdzenie Demokryta, że byt nie jest bardziej realny niż niebyt

<h4>Ciekawostki:</h4>
<p>Jego przydomek „śmiejącego się filozofa” wynikał prawdopodobnie z pogody ducha, ale według niektórych źródeł
  był związany z podejrzewaniem go przez mieszkańców Abdery o szaleństwo – manię.</p>

<div class='left'><a href="{% url 'anaksagoras' %}">Poprzedni filozof</a>  </div>
{% endblock %}
