{% extends 'base.html' %}

{% block content %}
<h2>Empedokles z Akragas</h2>
<h3>(484-421 p.n.e.)</h3>
<img src = "https://upload.wikimedia.org/wikipedia/commons/1/1d/Empedocles._Line_engraving_by_D._Cunego%2C_1785%2C_after_Raphael_Wellcome_V0001765.jpg" alt = "Empedokles z Akragas" align="left" width="300" height="400">

<h4>Notka biograficzna:</h4>
<p>Starożytny poeta, filozof oraz uzdrowiciel oraz twórca koncepcji czterech żywiołów.
  Uważa się go również za twórcę retoryki oraz szkoły medycznej. Przypuszcza się,
  że Empedokles słuchał nauk Parmenidesa, a mógł też mieć związki z pitagorejczykami. </p>

<h4>Pogląd na naturę Arche:</h4>
<p>Zasada bytu jest czworaka i tworzą ją cztery żywioły, zwane pierwiastkami:</p>
<ul>
  <li>ogień,
  <li>woda,
  <li>powietrze,
  <li> ziemia
</ul>

<h4>Uzasadnienie:</h4>
<p>Stanowisko jakie zajmuje jest kompromisem między Parmenidesem, według którego byt jest
  jeden i niezmienny, a Heraklitem, głoszącym totalną zmienność bytu. Elementy są wieczne, bo „to, co jest",
  nie powstaje, nie przemija i jest niezmienne. Z drugiej strony zmienność również istnieje,
  bo: „Nie ma powstawania czegokolwiek, co jest śmiertelne, ani nie jest końcem niszcząca śmierć.
  Jest tylko mieszanie się i wymiana tego, co pomieszane.”</p>

<h4>Ciekawostki:</h4>
<p>Dodatkowo wprowadził dwa elementy: miłość i nienawiść jako czynne elementy wieczne.</p>

<div class='left'><a href="{% url 'parmenides' %}">Poprzedni filozof</a>  </div>
<div class='right'><a href="{% url 'anaksagoras' %}">Następny filozof</a>  </div>
{% endblock %}
