{% extends 'base.html' %}

{% block content %}
    <h1>Witamy w przygotowanej przez nas aplikacji!</h1>

    <h3>Czego można się tutaj dowiedzieć?</h3>

    <p>Na naszej stronie zapoznać się można z poglądami wybranych filozofów na temat tego, jaka jest natura Arche. Jest to jedno z pierwszych zagadnień
    filozofii. Aplikacja umożliwia także sprawdzenie swojej wiedzy na podany temat w przygotowanym przez nas quizie. Zapraszamy! <a href "{% url 'nauka' %}">Przejdź do nauki</a></p>
    <img class="s" src = "https://1.bp.blogspot.com/-RvNOMIGerws/U8_i65t-xAI/AAAAAAAADVw/lnDEDhTWP2A/s1600/Rafael+Santi+Szko%C5%82a+Ate%C5%84ska.jpg" alt = "Szkoła Ateńska" align="middle" width="600" height="425">

{% endblock %}
