{% extends 'base.html' %}

{% block content %}
    <h1>Informacje o stronie</h1>

    <h3>Autorzy:</h3>
    <ul>
      <li>Alicja Kajewska</li>
      <li>Tomasz Lubkowski</li>
    </ul>

    <h3>Jak korzystać ze strony?</h3>
    <p>tekst</p>

    <h3>Do czego służy strona?</h3>
    <p>tekst</p>

    <h3>Języki:</h3>
    <ul>
      <li>Python</li>
      <li>Django</li>
      <li>HTML</li>
      <li>CSS</li>
    </ul>

<p>Strona powstała jako projekt na zajęcia Komunikacja Człowiek - Komputer<p>


{% endblock %}
