{% extends 'base.html' %}

{% block content %}
    <h1>Informacje o stronie</h1>

    <h3>Autorzy:</h3>
    <ul>
      <li>Alicja Kajewska</li>
      <li>Tomasz Lubkowski</li>
    </ul>

    <h3>Jak korzystać ze strony?</h3>
    <p>Po stronie poruszać się można używając paska nawigacji, oraz zamieszczonych linków.
    Należy przeczytać zamieszczone opisy stanowisk filozofów.
    Po zapoznaniu się z zaprezentowanymi poglądami filozoficznymi możemy sprawdzić swoją wiedzę w quizie.</p>

    <h3>Do czego służy strona?</h3>
    <p>Strona służy do zapoznania się z poglądami filozoficznymi wybranych myślicieli na temat Arche. Przyswoiwszy wiedzę
    na ten temat możemy sprawdzić się w przygotowanym przez nas quizie.</p>

    <h3>Języki:</h3>
    <ul>
      <li>Python</li>
      <li>Django</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>

<p>Strona powstała jako projekt na zajęcia Komunikacja Człowiek - Komputer<p>


{% endblock %}
