{% extends 'base.html' %}


{% block content %}
<h1>Nauka</h1>

<h3>Czym jest Arche?</h3>
<p><b>Arché</b>, z greckiego zasada  jest naturą rzeczy, tym, z czego się one wywodzą, dzięki czemu są oraz w co się rozpadną.</p>
<p>Jest to prazasada definiującą rzeczywistość. Pytanie o naturę Arché uważa się za pierwsze zagadnienie filozoficzne.</p>
Poniżej przedstawione są proponowane przez lata odpowiedzi różnych filozofów:
<ul>
  <li><a href="{% url 'tales' %}">Tales z Miletu</a> </li>
  <li><a href="{% url 'anaksymander' %}">Anaksymander z Miletu</a> </li>
  <li><a href="{% url 'anaksymenes' %}">Anaksymenes</a> </li>
  <li><a href="{% url 'heraklit' %}">Heraklit z Efezu</a> </li>
  <li><a href="{% url 'pitagoras' %}">Pitagoras</a> </li>
  <li><a href="{% url 'parmenides' %}">Parmenides</a> </li>
  <li><a href="{% url 'empedokles' %}">Empedokles z Akragas</a> </li>
  <li><a href="{% url 'anaksagoras' %}">Anaksagoras</a> </li>
  <li><a href="{% url 'demokryt' %}">Demokryt z Abdery</a> </li>
</ul>

{% endblock %}
