{% extends 'base.html' %}


{% block content %}
<h2>Pitagoras</h2>
<h3>(570-497 p.n.e.)</h3>
<img src = "https://sites.google.com/site/slawnimatematycyy/_/rsrc/1468744011617/home/pitagoras/pitagoras.jpg?height=400&width=340" alt = "Pitagoras" align="left" width="300" height="360">

<h4>Notka biograficzna:</h4>
<p>Grecki matematyk, filozof oraz mistyk. Autor słynnego twierdzenia
  matematycznego o sumie kątów w trójkącie prostokątnym, nazwanego
  jego imieniem. Założyciel szkoły pitagorejczyków. Wyprowadził średnią
  arytmetyczną, konstruował wielościany foremne.</p>

<h4>Pogląd na naturę Arche:</h4>
<p>Liczba i elementy konstytutywne liczby</p>

<h4>Uzasadnienie:</h4>
<p>Po odrzuceniu wcześniejszych propozycji uznał, że zasadą  jest liczba,
  a dokładniej tzw. „jedno” zwane monadą. Z monady powstawała dwójka,
  nazywana dyadą. Dyada z kolei przemieniała się w liczbę, liczba w linie,
  linie w płaszczyzny, płaszczyzny w bryły, aż wreszcie bryły stają się
  ciałami podlegającymi czterem żywiołom: ognia, wody, ziemi oraz powietrza.</p>

<h4>Ciekawostki:</h4>
<p>Pitagorejczycy jako pierwsi zauważyli, że wiele zjawisk przyrodniczych
  można wyrazić w relacjach liczbowych i przejęci tym odkryciem,
  poszukiwali ich w całym świecie.</p>

<div class='left'><a href="{% url 'heraklit' %}">Poprzedni filozof</a>  </div>
<div class='right'><a href="{% url 'parmenides' %}">Następny filozof</a>  </div>
{% endblock %}
