{% extends 'base.html' %}


{% block content %}
<h2>Tales z Miletu</h2>
<h3>(624 – 547 p.n.e.)</h3>
<img src = "http://3.bp.blogspot.com/-n7jXkxZkqBY/VQSQF56nuMI/AAAAAAAABdI/fIKX6KjYB1M/s1600/Tales%2Bz%2BMiletu1a.png" alt = "Tales z Miletu" align="left" width="320" height="460">

<h4>Notka biograficzna:</h4>
<p>Grecki uczony uważany za pierwszego filozofa i matematyka cywilizacji zachodniej,
  autor twierdzenia o dwóch prostych równoległych, czyli jednego z ważniejszych twierdzeń
  geometrii euklidesowej.</p>

<h4>Pogląd na naturę Arche:</h4>
<p>Woda</p>

<h4>Uzasadnienie:</h4>
<p>Wodę postrzegał jako początek i źródło rzeczy; samą rzeczywistość, która trwa niezmiennie
  i to co jest w rzeczach trwałe, mimo zachodzących w świecie zmian
  (a więc w pewnym sensie odpowiednik "substancji"); koniec i ujście rzeczy.</p>

<h4>Ciekawostki:</h4>
<p>Uważał, że magnes posiada duszę.</p>

<div class='right'><a href="{% url 'anaksymander' %}">Następny filozof</a>  </div>
{% endblock %}
